export K8S_MASTER_NODE_APITOKEN=''

export HASHED_USER_PASSWD_TOKIWA=''
export HASHED_USER_PASSWD_HANAAKARI=''
export HASHED_USER_PASSWD_YOMOGI=''
export HASHED_USER_PASSWD_YOMOSUGARA=''
export HASHED_USER_PASSWD_FUJIBAKAMA=''

export TAILSCALE_IP_ADDRESS_TOKIWA=''
export PRIVATE_IP_ADDRESS_TOKIWA=''
export TAILSCALE_IP_ADDRESS_HANAAKARI=''
export PRIVATE_IP_ADDRESS_HANAAKARI=''
export TAILSCALE_IP_ADDRESS_YOMOGI=''
export PRIVATE_IP_ADDRESS_YOMOGI=''
export TAILSCALE_IP_ADDRESS_YOMOSUGARA=''
export PRIVATE_IP_ADDRESS_YOMOSUGARA=''
export TAILSCALE_IP_ADDRESS_FUJIBAKAMA=''
export PRIVATE_IP_ADDRESS_FUJIBAKAMA=''

export MAC_ADDRESS_TOKIWA=''
export MAC_ADDRESS_HANAAKARI=''
export MAC_ADDRESS_YOMOGI=''
export MAC_ADDRESS_YOMOSUGARA=''
export MAC_ADDRESS_FUJIBAKAMA=''
