export HASHED_USER_PASSWD_TOKIWA=""
export HASHED_USER_PASSWD_HANAAKARI=""
export HASHED_USER_PASSWD_YOMOGI=""
export HASHED_USER_PASSWD_YOMOSUGARA=""
export HASHED_USER_PASSWD_FUJIBAKAMA=""

export IP_ADDRESS_TOKIWA=""
export IP_ADDRESS_HANAAKARI=""
export IP_ADDRESS_YOMOGI=""
export IP_ADDRESS_YOMOSUGARA=""
export IP_ADDRESS_FUJIBAKAMA=""

export MAC_ADDRESS_TOKIWA=""
export MAC_ADDRESS_HANAAKARI=""
export MAC_ADDRESS_YOMOGI=""
export MAC_ADDRESS_YOMOSUGARA=""
export MAC_ADDRESS_FUJIBAKAMA=""
