[user]
  email = 85932406+ichi-h@users.noreply.github.com
  name = ichi-h
[core]
  autocrlf = false
  filemode = false
  quotepath = false
  editor = vim
[color]
  ui = auto
[http]
  postBuffer = 16M
[init]
  defaultBranch = main
[pull]
  rebase = false
[submodule]
	recurse = true
