email:
  smtpHost: {{ .Values.email.smtpHost }}
  smtpPort: {{ .Values.email.smtpPort }}
  smtpFrom: {{ .Values.email.smtpFrom }}
  smtpUsername: {{ .Values.email.smtpUsername }}
  smtpPasswd: {{ .Values.email.smtpPasswd }}
