snapshotsEnabled: false
deployNodeAgent: true

credentials:
  useSecret: true
  name: cloud-credentials
  secretContents:
    cloud: |
      [default]
      aws_access_key_id={{ .Values.s3.accessKeyId }}
      aws_secret_access_key={{ .Values.s3.secretAccessKey }}

initContainers:
  - name: velero-plugin-for-aws
    image: velero/velero-plugin-for-aws:v1.12.2
    imagePullPolicy: IfNotPresent
    volumeMounts:
      - mountPath: /target
        name: plugins
