configuration:
  namespace: velero
  defaultVolumesToFsBackup: true
  backupStorageLocation:
    - name: default
      provider: aws
      bucket: {{ .Values.s3.bucket }}
      config:
        region: {{ .Values.s3.region }}
        s3ForcePathStyle: true
        s3Url: http://minio.velero.svc.cluster.local:9000
        publicUrl: http://localhost:9000

# schedules:
#   app-backup:
#     disabled: false
#     schedule: "*/10 * * * *" # run every 10 minutes
#     useOwnerReferencesInBackup: false
#     template:
#       ttl: 10m
#       includedNamespaces:
#         - default
#       storageLocation: default
