server:
  persistentVolume:
    size: {{ if eq .Environment.Name "prod" }}8Gi{{ else }}128Mi{{ end }}
    storageClass: prometheus-server
  nodeSelector:
    role: application
alertmanager:
  persistence:
    size: {{ if eq .Environment.Name "prod" }}2Gi{{ else }}128Mi{{ end }}
    storageClass: prometheus-alertmanager
